body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: #fff;
}

body > h1 {
    font-size: 300%;
    font-family: cursive;
}

body > h2 {
    font-size: 200%;
    font-family: cursive;
}