body{
    margin: 0;
    padding: 0;
}
header{
    background: #88c1d0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header > i {
    color: white;
    font-size: 2em;
}
.fa-solid{
    display: none;

}

nav {
    display: flex;
    justify-content: end;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
div {
    display: flex;
    gap: 10px;
    margin: 40px;
    justify-content: center;
}
.section{
    background: #88c1d0;
    height: 200px;
    width: 300px;

}

@media (min-width: 768px) and (max-width: 1599px) {
    div{
        flex-wrap: wrap;
    }
    .section{
        height: 282px;
        width: 435px;
    }

}

@media  (max-width: 767px) {
    div{
        flex-direction: column;
        align-items: center;
    }
     .active{
        display: none;
    }
    .fa-solid{
        display: block;
    }
}