h1{
  text-align: center;
  font-family: sans-serif;
}
form{
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 10px;
    margin: 15% 20%;
}
label{
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 1em;
    margin-right: 19px;
}
form input, .btn{
    padding: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #1cb0f6;
}

fieldset{
  border: none;
  display: grid;
  grid-template-columns: 1FR 1FR;

}

fieldset > fieldset {
  align-items: baseline;
  }

/* BUTTON */

#indexMessage + div {
    display: flex;
    gap: 10px;
    justify-content: center;
}
#indexMessage + div > .btn {
  width: 29%;
}
.btn {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 51%;
  text-decoration: none;
}

.btn:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn:main,
.btn:focus {
  user-select: auto;
}

.btn:hover:not(:disabled) {
  filter: brightness(1.1);
}

.btn:disabled {
  cursor: auto;
}


.error{
  color: red;
}

.valide{
  color: rgb(89, 168, 89);
}

p{ display: flex;
flex-direction: column;}